.para{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.15);
    color: aquamarine;
    display: block;
    margin: auto;
    margin-top: 50px;
}